.Rproj.user
.Rhistory
.RData
.Ruserdata
data/.DS_Store
.DS_Store
manuscript/.DS_Store
meta-analysis/.DS_Store
manuscript/submitted/Griskevicius paper blind version_revised_final.docx
manuscript/submitted/responses to reviewers_Collabra_Griskevicius_final.docx
/manuscript/submitted_2
/manuscript/submitted_3
manuscript/final_draft/2473457_v4f_collaborative_registered_replication_of_griskevicius_et_al_2010_can_pro_environmental_behavior_be_promoted_by_priming_status_motivation_LL_final.docx
