.Rproj.user
.Rhistory
.RData
.Ruserdata
data/.DS_Store
.DS_Store
manuscript/.DS_Store
meta-analysis/.DS_Store
manuscript/submitted/Griskevicius paper blind version_revised_final.docx
manuscript/submitted/responses to reviewers_Collabra_Griskevicius_final.docx
